*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrap-up-clock{
    position: relative;
    height: 30vh;
    width: 100vw;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    position: relative;
    height: 40%;
    width: 30%;
    background-color: lightsalmon;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8rem;
}