*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    height: 100%;
    width: 100%;
}

#container{
    position: relative;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px 0;
}

.this{
    position: relative;
    width: 100vw;
    height: 40vh;
    background-color: rgb(104, 170, 228);
}